.clock {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding: 5px;
    font-family: "Inconsolata", monospace;
    background-color: hsl(198deg 35% 90% / 71%);
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0 0 3px #cccccc;
}