.form {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.form__grid {
    display: grid;
    grid-template-columns: 80px minmax(100px, 300px);
    align-items: center;
    gap: 10px;
}

@media(max-width: 380px) {
    .form__grid {
        grid-template-columns: minmax(10px, 210px);
        gap: 5px;
    }
}

.form__fieldset {
    background-color: hsl(198deg 35% 90% / 71%);
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 10px;
}

.form__legend {
    font-size: 20px;
    background-color: #d88f08;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.form__paragraph {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.form__field {
    border: 1px solid #d88f08;
    padding: 10px;
    border-radius: 3px;
}

.form__field--select {
    background-color: white;
}

.form__field:active {
    border-color: #aa7106;
}

.form__field:focus {
    border-color: #aa7106;
}

.form__button {
    margin: 30px;
    align-self: center;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #d88f08;
    color: white;
    font-size: 20px;
    font-weight: 700;
    transition: background-color 0.4s;
}

.form__button:hover {
    background-color: #d88f08cc;
}

.form__button:active {
    background-color: #d88f089f;
}