.form {
    margin: 10px;
}

.form__fieldset {
    margin-bottom: 30px;
    background-color: hsl(198deg 35% 90% / 71%);
    border: 1px solid #bbb;
    border-radius: 3px;
    padding: 10px;
}

.form__legend {
    font-size: 20px;
    background-color: #d88f08;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.form__paragraph {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.form__labelText {
    width: 100%;
    max-width: 100px;
    display: inline-block;
    margin-right: 5px;
    text-align: left;
}

.form__field {
    border: 1px solid #d88f08;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    border-radius: 3px;
}

.form__field--select {
    background-color: white;
}

.form__field:active {
    border-color: #aa7106;
}

.form__field:focus {
    border-color: #aa7106;
}

.form__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;
    margin: 20px;
}

.form__button {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: #d88f08;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.form__button:hover {
    background-color: #d88f08cc;
}

.form__button:active {
    background-color: #d88f089f;
}